<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>OPEN-S-Registration</h1>
    <nav>
      <ul>
        <li><a href="/courses/new">ADD COURSE</a></li>
        <li><a href="/courses">ALL COURSES</a></li>
        <li><a href="/locations/new">ADD LOCATION</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/auth/google">Log In With Google</a></li>
      </ul>
    </nav>
      
    
  </body>
</html>
