<%- include('../partials/header') %>

<p>Please first ensure that the Student is not in the dropdown
  <select>
    <% students.forEach(function(s) { %>
      <option><%= s.name %></option>
    <% }) %>
  </select>
</p>
<form id="add-student-form" action="/students" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Email:</label>
  <input type="email" name="email">
  <input type="submit" value="Add Student">
</form>

<%- include('../partials/footer') %>