<!DOCTYPE html>
<html>
<head>
  <title>OPEN-S Registration</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">OPEN-S Registration</a>
        <br><br>
        <ul>
          <li>
            <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
          </li>
         
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div id="search-row" class="row">
      <h2 class="col s4 blue-grey-text text-darken-2">Create Online Course</h2>
      <a href="/courses">Create Online Course</a>
    </div>
    <div class="row">
      <div id="instructors" class="col s12">
        <% instructors.forEach(function(instructor) { %>
        <div class="card blue-grey">
          <div class="card-content white-text">
            <div>
              <span class="card-title">
                <i class="small material-icons">perm_identity</i>
                <span class="instructor-name"><%= instructor.name %></span>
                
              </span>
            </div>
            
            <!-- new code below -->
           
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>
</html>